.root {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	border-bottom: 2px solid var(--grey);
}

.ceil {
	padding: 0.75rem;
}

@media (max-width: 500px) {
	.ceil {
		padding: 0.35rem 0.25rem;
		font-size: 16px;
	}
}
