.root {
	max-width: 1400px;
	min-width: 330px;
	margin: auto;
	padding: 0.7rem 1.2rem;
	width: auto;
}

@media (max-width: 430px) {
	.root {
		padding: 0.5rem 0.8rem;
	}
}

.heading {
	font-family: 'Playfair Display', Helvetica, sans-serif;
	font-size: 2rem;
}
