.root {
	display: flex;
	margin-bottom: 1rem;
}

.label {
	align-self: center;
	margin-right: 10px;
	font-size: 1.3rem;
}

.input {
	border: solid 1px var(--grey);
	border-radius: 4px;
}

.select {
	width: 100px;
	height: 34px;
	padding: 5px;
	margin-left: 20px;
	line-height: 1em;
	text-indent: 0.01px;
	text-overflow: '';
	font-size: 16px;
	border: 1px solid var(--grey);
	border-radius: 4px;
	background: url('../../styles/dow.png') no-repeat 95%;
	background-size: 20px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.select:hover,
.input:hover {
	box-shadow: 0 0 5pt 0.5pt var(--grey);
}

.select:focus,
.input:focus {
	box-shadow: 0 0 5pt 1.5pt var(--grey);
	outline: none;
}
