.root {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.heading {
	font-family: 'Playfair Display', Helvetica, sans-serif;
	align-self: center;
	margin: 0.5rem 1rem 0.5rem 0;
	font-size: 1.5rem;
	font-weight: normal;
}

.filtersWrapper {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.filtersWrapper li {
	margin-right: 15px;
}
